.burger-menu {
    display: none;
    margin-left: 20px;
}

.burger-menu__icon {
    position: relative;
    z-index: 2;
    display: block;
    width: 30px;
    height: 25px;
    cursor: pointer;
   
}

.burger-menu__icon::before,
.burger-menu__icon::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--dark-color-text);
    color:  var(--dark-color-text);
    transition: all 0.5s ease;
}
.burger-menu__icon::after {
    bottom: 0;
}
.burger-menu__icon span{
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--dark-color-text);
    top: 50%;
    transform: translateY(-50%);
}

.burger-menu__nav {
    position: fixed;
    top: -100%;
}

.burger-menu__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    justify-content: space-between;
    margin-bottom: 2em;
}
.burger-menu__menu .menu__link {
    font-size: var(--section-title);
}
.burger-menu__btns-list {
    width: 60vw;
    justify-content: space-between;
    gap: 0.5em;
}
.burger-menu__btns-list img {
    height: 30px;
    width: 30px;
}
.open .burger-menu__icon span{
    display: none;

}

.open .burger-menu__icon::before {
    top: 50%;
    transform:  rotate(45deg);
    
}
.open .burger-menu__icon::after {
    top: 50%;
    transform: rotate(-45deg);
    
}
.open .burger-menu__nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 10vh 0;
    background-color: var(--first-background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* media */

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px)  {
    .burger-menu {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 650px) {
    
}

@media screen and (max-width: 480px) {

}