.header {
    
}
.container {
}
.header__container {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}
.nav {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
    gap: 0.25em;
}
.logo img {
    /* margin-right: 5px; */
}
.menu {
    
}
.header__menu {
    display: flex;
    gap: 3.5em;
}
.menu__item {
    
}
.menu__link {
}
.header__btns-list {
    display: flex;
    align-items: center;
    gap: 2em;
}
.btns-list__item {
}
.btn {
}
.btns-list__btn {
}