.login {
  height: 100vh;
  background-color: var(--second-background-color);
}
.login__container {
  display: flex;
  position: relative;
  height: 100%;
}
.login-form {
  display: flex;
  flex-direction: column;
  max-width: 340px;
  width: 100%;
  padding: 0 20px;
  background-color: var(--first-background-color);
  padding: 2rem 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;

  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.login-form__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1em 2rem 0;
  gap: 0.25em;
  font-size: var(--section-title);
  line-height: 40px;
}
.login-form__label {
  margin-bottom: 0.4rem;
}
.login-form__input {
  margin-bottom: 1rem;
}
.login-form__btn {
  margin: 0.5rem 0 1.5rem;
}

.login-form__link {
  text-align: center;
  color: var(--grey-color-text);
}

/* media */

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 650px) {
}

@media screen and (max-width: 480px) {
}
