.burger-menu__icon {
    position: relative;
    display: block;
    width: 40px;
    height: 35px;
}

.burger-menu__icon::before,
.burger-menu__icon::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 5px;
    background-color: var(--dark-color-text);
    color:  var(--dark-color-text);
}
.burger-menu__icon::after {
    bottom: 0;
}
.burger-menu__icon span{
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--dark-color-text);
    top: 50%;
    transform: translateY(-50%);
    
}


.burger-menu__nav {
    position: fixed;
    top: -100%;
}

.burger-menu__menu {
    background-color: aqua;
}

.burger-menu__btns-list {
    background-color: blueviolet;
}