.cart__table {
    width: 100%;
    text-align: center;
}

.cart-table__thead {
}
.item-total {
    text-align: left;
}
.column-title__item-product {
    width: 25%;
}

/* media */

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 650px) {
}

@media screen and (max-width: 480px) {
}
