/* reset */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
input,
input::placeholder,
textarea,
textarea::placeholder {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

/* table{
  font-family: inherit;
  font-size: inherit;
  
} */
/* variables */

:root {
  /* color */
  /* background-color */

  --first-background-color: #ffffff; /* white */
  --second-background-color: #faf3ea; /* orange */
  --third-background-color: #ececec; /* grey */

  /* text-color */

  --dark-color-text: #000000;
  --light-color-text: #ffffff;
  --grey-color-text: #898989;

  /* accent-color */

  --accent-color: #b88e2f;

  /* font-size */

  --main-text: 1rem; /* 18.4px */
  --small-text: 0.85rem;
  /* 13.6px */
  --middle-text: 1.2rem; /* 20.8px */
  --section-title: 1.7rem; /* 27.2px */
  --hero-title: 2.25rem; /* 36px */

  /* sizes */
  --header-heigth: 80px;
}

/* main styles */

html {
  font-size: 100%;
  line-height: 1.5;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background-color: var(--first-background-color);
  color: var(--dark-color-text);
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1236px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.page-content {
  position: relative;
  top: var(--header-heigth);
}
.section {
  margin: 3rem 0;
}
.section-title {
  font-size: var(--section-title);
  font-weight: 700;
  text-align: center;
}
.btn {
  font-size: var(--small-text);
}
.btn--light {
  color: var(--accent-color);
  background-color: var(--light-color-text);
  border: 1px solid var(--accent-color);
}
.btn--dark {
  color: var(--light-color-text);
  background-color: var(--accent-color);
}

.logo {
  font-weight: 700;
}
.title {
  font-size: var(--hero-title);
}
.text {
  font-weight: 400;
  font-size: var(--small-text);
  color: var(--grey-color-text);
}
.item-title {
  font-size: var(--middle-text);
  font-weight: 600;
}
.form {
font-size: var(--small-text);
}
.form__input,
.form__textarea {
  font-weight: 400;
  padding: 1rem;
  border: 1px solid var(--grey-color-text);
  border-radius: 8px;
}
.form__input::placeholder,
.form__textarea::placeholder {
    color: var(--grey-color-text);
}
.form__btn {
    
    
}


/* media */

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 650px) {
}

@media screen and (max-width: 480px) {
}
