.hero {
    position: relative;
    background: url(../../public/images/hero-img.jpg) center / cover  no-repeat;
    height: calc(100vh - var(--header-heigth));
    width: 100%;
}
.container {
}
.hero__container {
    position: relative;
}
.hero__content {
    position: absolute;
    z-index: 0;
    top: 5em;
    right: 10px;
    width: 50%;
    background-color: var(--second-background-color);
    border-radius: 10px;
    padding: 60px 40px 40px;
    transition: all 0.3s;
}
.hero__subtitle {
    font-size: var(--small-text);
    font-weight: 600;
    letter-spacing: 3px;
}
.title {
}
.hero__title {
    margin: 5px 0 15px;
    color: var(--accent-color);
    font-weight: 700;
    font-size: var(--hero-title);
}
.text {
}
.hero__text {
    margin-bottom: 45px;
}
.btn {
}
.hero__btn {
    padding: 25px 75px;
    text-transform: uppercase;  
    font-weight: 700;
}

/* media */

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px)  {
    .hero__content {
        width: 65%;
    }

}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 650px) {
    html {
        font-size: 16px;
        line-height: 1.1;
    }
    .hero {
        background: var(--second-background-color);
        height: 100%;
    }

    .hero__content {
        position: static;
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    
}

@media screen and (max-width: 480px) {

}